
# -----------------------------------------------------------------
# Managed by git-ignore
#
# This file is maintained by git-ignore.
# -----------------------------------------------------------------
debug
target
**/*.rs.bk
*.pdb
**/mutants.out*/
rustc-ice-*.txt
.env
.vscode/
*.pem
.npmrc
